@font-face {
	font-family: "Norican";
	src: url("../fonts/Norican/Norican-Regular.ttf");
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.karina-logo {
	height: 50px;
	width: 50px;
	opacity: 0.75;
}

.karina-logo:hover {
	opacity: 1.0;
}

.btn-link:hover{
	text-decoration: none;
	color: white;
	background-color: #4d004d;
}

.btn:hover{
	background-color: #4d004d;
	color: white;
}

.page-container {
  	position: relative;
  	min-height: 100vh;
}

.content-wrap {
  	padding-bottom: 50px;   
}

.footer {
	background-color: purple;
  	position: absolute;
  	bottom: 0;
 	width: 100%;
 	height: 50px;
 	text-align: center;
 	border-top: 3px solid black;            
}

.footer p{
	color: white;
}

.navbar-brand {
	font-family: 'Norican', cursive;
	font-size: 30px;
}

/*start landing page*/
.jumbotron hr{
	background-color: #333;
}

#jumbo-land {
	height: 100vh;
	background-color: #333;
	background-image: url("../images/skully.gif");
	background-position: center;
	border-radius: 0px;
	padding-top: 25%;
}

.jumbotron h1, .jumbotron p{
	color: #f2f2f2;
}
.btn-link {
	color: #fff;
	margin-left: 20px;
	background-color: purple;
	margin-top:10px;

}

#jumbotron-section {

}

/*end landing page*/

/*start comic page*/

.navbar {
	background-color: purple;
}

.comic-body {
	background-image: url("../images/swirl pattern try.jpg");
	height: 100vh;

}

#artist-comments {
	height: 300px;
	margin-top: 50px;
	background-color: #606;
	text-align: center;
	box-shadow: 3px 3px 5px black;
}

#comic-page {
	margin-top: 50px;
}

.carousel-inner {
	box-shadow: 3px 3px 5px black;


}

.portrait-comic {
	height: 50px;
	width: 50px;
	border: 2px solid silver;
	border-radius: 50%;
	margin:10px;
	margin-top: 0px;
}

.comic-description {
	font-size: 19px;
	color: silver;
	clear: both;
	margin: 15px;
	margin-top: 0;
}

.carousel-control-prev { 
	opacity: 0.1;
}

.carousel-control-next {
	opacity: 0.1;
}

.carousel-control-prev:hover{
	opacity: 1.0;
}

.carousel-control-next:hover{
	opacity: 1.0;
}

/*end comic page*/

/*start about page*/

#profile-pic {
	border-radius: 100%;
	height: 220px;
	width: 220px;
}

.body-about {
	background-image: url("../images/swirl pattern try.jpg");
}

.start-row {
	padding-top: 50px;
}
.about-row{
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	box-shadow: 2px 2px 5px black;

}
.about-blog {
	color: purple;
	font-size: 30px;
	margin-top: 5px;
}

.logo {
	height: 175px;
	width: 175px;
	margin: 20px;
	margin-top: 100px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px black;

}

.contact-us {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 2px 2px 5px black;

}
.btn {
	background-color: purple;
	color: white;
	margin: 5px;
}



/*end about page*/

/*start gallery page*/
.gallery-image {
	height: 50vh;
}

.card {
	margin: 20px;
	box-shadow: 2px 2px 5px black;
}

.gallery-body {
	background-image: url("../images/swirl pattern try.jpg");


}

.gallery-image:hover {
  transform: scale(1.15);
  transition: 1s;
}

.card-text,
.card-title {
	color: white;
	font-size: 20px;
	text-align: center;
}

.card-body {
	background-color: purple;
	height: 100px;
}

.imageModal {
	width:100%;
}

.modal .btn {
	background-color: purple;
}

.modal .btn:hover{
	background-color: #4d004d;;
}

.page-link {
	background-color: purple;
	color: white;
}

.page-link:hover {
	background-color: #4d004d;
	color: white;
}

/*end gallery page*/

/*start contact page*/

.body-contact {
	background-image: url("../images/swirl pattern try.jpg");
}

.contact-form {
	background-color: white;
	margin-top: 150px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
}

.google-maps {
	margin-top: 150px;
	width: 100%;
	height: 100%;
}

/*end contact page*/

/*home page*/

.welcome {
	background-image: url("../images/skully.gif");
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	margin-top: 100px;
	text-align: center;
	padding: 75px;
	color: white;
	background-position: center;


}


.img-link {
	height: 500px;

}

.img-link:hover{
	opacity: 0.95;
}


/*end home page*/



@media only screen and (max-width:400px) {
	.about-row{
		text-align: center;
	}
	.welcome {
		margin-top: 40px;
	}	

}



@media only screen and (min-width:401px) and (max-width: 900px) {
	.about-row{
		text-align: center;
	}
	.gallery-image{
		height: 100%;
	}
	.welcome {
		margin-top: 40px;
	}
	

}

@media only screen and (min-width:901px) and (max-width: 1024px) {
	.gallery-image {
		height: 30vh;
	}
}